/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);




//~~~~~Common~~~~~~

.col-centered{
  float: none;
  margin: 0 auto;
}



// Placeholder selectors
%transition {
  transition: all .25s;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

//~~~~~~~~~~typography(排版)~~~~~~~~~~

html {
  font-size: 16px;
  position: relative;
  min-height: 115%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 300px;
  background-image: linear-gradient(#B3E5FC, #C8E6C9);


  /*box-shadow: inset 0 0 100px hsla(0,0%,0%,.3); */
  margin-bottom: 150px;
}

//~~~~~~~~~~navbar~~~~~~~~~~
.navbar {
  margin-bottom: 0;
}

//~~~~~~~~~~navbar contact~~~~~~~~~~
.navbar a,
.sec-about p {
  text-align: center;
}

.navbar a {
  font-size: 16px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

//~~~~~~~~~~navbar dropdown-menu~~~~~~~~~~
.dropdown-menu {
	min-width: 260px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

.dropdown-menu li a:hover {
	color: darken(#ad0000, 5%);
}

div.alert {
  margin-top: 60px;
  margin-bottom: 3px;
  border-radius: 0;
}

//~~~~~~~~~~Landing page content~~~~~~~~~~
.sec-main {
  margin-top: 10px;
}

.main-heading {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.container > h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.sec-about a {
  text-decoration: underline;
}

.sec-services h2,
.sec-services p {
  font-weight: 300;
  text-align: center;
}

.sec-testimonials p {
  font-style: italic;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

//~~~~~~~~~~base~~~~~~~~~~
section {
  padding: 5em 0;
}

footer {
  padding: 5em 0;
}

form {
  @media screen and (max-width: 768px) and (min-width: 485px) {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  @extend %transition;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}

/*=Layout=*/

.sec-folio .row {
  margin-bottom: 3em;
}

.sec-folio img {
  max-width: 100%;
}

//~~~~~~~~~~navbar~~~~~~~~~~

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #ad0000;
}

.navbar-inverse .navbar-nav>li>a:active {
  color: darken(#ad0000, 5%);
}


/*Main*/

.sec-main {
  position: relative;
  height: 560px;
  /*background: url(https://source.unsplash.com/kVf7VRgg4p8/1920x1080) no-repeat center center; */
  background: asset-data-url("picture-3.jpg") no-repeat center center;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  margin: auto;
  height: 40px;
  color: #fff;
}

/*About*/

.sec-about a {
  color: #000;
  &:hover,
  &:focus {
    color: #ad0000;
  }
}

/*Services*/

.sec-services {
  background: #f9f9f9;
}

.sec-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.sec-services .fa-paint-brush {
  width: 64px;
}

.sec-services .fa-code {
  width: 68px;
}

.sec-services h2 {
  margin: 1em 0;
}

/*Testimonials*/

.sec-testimonials {
  background: #f9f9f9;
}

/* Categories*/

.cards-row {
  padding-top:40px;
  padding-bottom:20px;
  background:#eee;
}
.thumbnail {
  padding:0;
  border-radius:0;
  border:none;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.thumbnail>img {
  height: 200px;

  width:200px;
  display:block;
}
.thumbnail h4 {
  text-align: center;
  margin: 0;
  margin-left: -5px;
  margin-right: -5px;
  padding:8px 0;
  border-top: solid 1px #eee;
  transition: 1.5s;
}

.thumbnail h4 a:hover {
  color: #ad0000;
  text-decoration: none;
}

.thumbnail p {
  padding-top:8px;
  font-size:20px;
}
.thumbnail .btn {
  border-radius:0;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  font-size:20px;
}

/*Contact*/

.sec-contact .form-control:focus {
  border-color: #ad0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(173, 0, 0, .6);
}

.sec-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;

  @extend %transition;

  &:hover,
  &:focus {
    background: #ad0000;
    border-color: darken(#ad0000, 10%);
  }
}


/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 101%;
  height: 150px;
  background-color: #111;
  text-align: center;
  .container {
    margin-top: -20px;
    color: #fff;
    width: 100%;
  }
}

// footer icon css
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGithub:hover {
	background-color:#757575;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoTwitter:hover i, .social-network a.icoFacebook:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoFacebook:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #263238;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.3s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}


/* messages */
#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}
