<footer class="footer">
  <div class="container">
        <ul class="social-network social-circle">
          <li><a href="http://twitter.com" class="icoTwitter" title="Twitter">   <i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com" class="icoGithub" title="Github">        <i class="fa fa-github"></i></a></li>
          <li><a href="http://google.com" class="icoGoogle" title="Google">      <i class="fa fa-google"></i></a></li>
          <li><a href="http://facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        </ul>
  </div>
</footer>
